* {
    box-sizing: border-box;
    
}

body{
    margin: 0;
}

.hero {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -30%;
}

.text-wrapper h1{
    text-align: center;
    color: antiquewhite;
    
    
}

.button-wrapper{
    text-align: center;
}

.button{
    background-color: antiquewhite; /* Green */
  border: none;
  color: black;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor:pointer;
  
    
}

.button-section{
    background-color: rgb(226, 122, 36); /* Green */
  border: none;
  color: black;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor:pointer;
    
}

.body {
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    margin: 0 auto;
}

.navbar {
    padding: 20px 20px;
    font-weight: bold;
    text-align: center;
    background: #161514;
    color: rgb(173, 87, 16);
    margin: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

.link{
    font-size: 14px;
    color: antiquewhite;
    
}

.footer{
    
    padding: 20px 20px;
    font-weight: bold;
    text-align: center;
    background: #161514;
    color: rgb(173, 87, 16);
    margin: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.section-last{
    margin: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 231, 203);
    height: auto;
}

.address{
    margin-top: 21%;
    color: rgb(173, 87, 16);
    text-align: center;
    padding: 14px;
}

@media all and (max-width: 900px) {
    .address {margin-top: 21%;}
}

@media all and (max-width: 600px) {
    .address {margin-top: 13%;}
}

@media all and (max-width: 450px) {
    .address {margin-top: 2%;}
}

@media all and (max-width: 360px) {
    .address {margin-top: 0%;}
}

.image-3 {
    
    object-fit: cover;
    width: 200px;
    height: 100%;
    
       
    }

.aviator{
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 20px 20px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
  
 }

.section--1{
    display: flex;
    
   
}

.section--2{
    display: flex;
    
   
}

.image-description{
    padding: 15px;
}

.name{
    margin: 0px 20px;
    font-weight: bold;
}

p-description{
    font-size: 14px;
}

@media all and (max-width: 900px) {
    .p-description {font-size:14px;}
}

@media all and (max-width: 600px) {
    .p-description {font-size:12px;}
}

@media all and (max-width: 400px) {
    .store-section {font-size:10px;}
}

.section-location{
    margin: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #161514;
   
    text-align: center;
    color: antiquewhite;
}

.store-section{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    word-break: break-all;
    font-size: 14px;
}

@media all and (max-width: 900px) {
    .store-section {font-size:14px;}
}

@media all and (max-width: 600px) {
    .store-section {font-size:12px;}
}

@media all and (max-width: 400px) {
    .store-section {font-size:10px;}
}